<div class="principal  d-flex flex-wrap justify-content-evenly align-items-center mb-3 " >
<!-- <div class="principal  d-flex flex-wrap justify-content-evenly align-items-center mb-3 " data-aos="fade-up"> -->

<!--   data-aos="fade-up"data-aos-duration="2000" -->
        <figure class="cont2 "  data-aos="fade-up"data-aos-duration="2000" >
            <img src="../../../assets/img/carlin.png" alt=""
            class="rounded-circle ">
        </figure>

        <!--   -->
        <div class="principal-contenido mb-3 " data-aos="fade-down"data-aos-duration="2000" >

            <h1 class=" text-center  fw-bold fs-1">CARLOS PAREDES</h1>
            <h4 class="text-white text-center  fw-bold">Programador web</h4>
            <P class="text-white text-center  fw-bold">
                Desarrollador frontend junior apasionado por las tecnologias
                modernas que disfruta la creacion y el aprendizaje constante;
            </P>
        </div>
    <!-- </div> -->

</div>